
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #e68938; /* Kleur van de blokjes van de inhoudopgave*/
  }
  
  li a {
    display: block;
    color: #000; /*kleur van de tekst bij de inhudsopgave*/
    padding: 8px 16px; /*breete en hoogte van de inhoudsopgave*/
    text-decoration: none;
  }
  
  /* Tekst in het midden van een blokje bij de inhoudsopgave*/
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  li a:hover:not(.active) {
    background-color: #555; /* Tekst van het vakje bij de inhoudopgave als je evoverheen gaat*/
    color: white; /* kleur van de tekst bij de inhoudsopgave als je eroverheen gaat*/
  }

  body {
      background-color: khaki; /* backgroundcolour van body (binairstelsel+ kleurmodellen+ bitmap)*/

  }

  #body1 {

    background-color: paleturquoise; /* backgroundcolour van #body1 (onze homepage)*/
  }/* Stijl voor de items in het dropdownmenu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Stijl voor de items in het dropdownmenu wanneer ze worden aangeklikt */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Stijl voor de items in het dropdownmenu wanneer je eroverheen gaat */
.dropdown-content a:hover {
  background-color: #555;
  color: white;
}

/* Zorg ervoor dat het dropdownmenu zichtbaar wordt wanneer je erop klikt */
.dropdown:hover .dropdown-content {
  display: block;
}

 
