
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #e68938; /* Kleur van de blokjes van de inhoudopgave*/
  }
  
  li a {
    display: block;
    color: #000; /*kleur van de tekst bij de inhudsopgave*/
    padding: 8px 16px; /*breete en hoogte van de inhoudsopgave*/
    text-decoration: none;
  }
  
  /* Tekst in het midden van een blokje bij de inhoudsopgave*/
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  li a:hover:not(.active) {
    background-color: #555; /* Tekst van het vakje bij de inhoudopgave als je evoverheen gaat*/
    color: white; /* kleur van de tekst bij de inhoudsopgave als je eroverheen gaat*/
  }

  body {
      background-color: khaki; /* backgroundcolour van body (binairstelsel+ kleurmodellen+ bitmap)*/

  }

  #body1 {

    background-color: paleturquoise; /* backgroundcolour van #body1 (onze homepage)*/
  }  
